/*=============== ANIMATIONS SCROLL ===============*/
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(0);
    transition: all 1.5s;
}

.hidden-left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}

.hidden-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.box:nth-child(2) {
    transition-delay: 200ms;
}

.box:nth-child(3) {
    transition-delay: 400ms;
}

.box:nth-child(4) {
    transition-delay: 600ms;
}

.box:nth-child(5) {
    transition-delay: 800ms;
}

.box:nth-child(6) {
    transition-delay: 1000ms;
}

.box:nth-child(7) {
    transition-delay: 1200ms;
}